body {
	font: $mainFont;
	background: $dark;
	color: $typeDefault;
}

#{headings()} {
	font: $headFont;
	color: $orange;
	font-weight: $bold;
}

h2, h3, h4 {
	font-family: $fontFamily2;
	color: $light;
	@include breakpoint($small) {
		color: lighten($dark, 30);
	}
}

strong {
	font-weight: $bold;
}

p {
	font-weight: $thin;
	padding-bottom: 10px;
}

a {
	color: $orange;
	transition-property: color, font-size, text-decoration;
	transition-duration: .1s;
	transition-timing-function: ease-in;
}
a:hover {color: lighten($orange, 10); text-decoration: underline;}