#intro {
	.fullheight {
		@include backImage('../images/mike-yeager-main.jpg', $bgPos: 70% 0);
		@include breakpoint($medium) {background-position: center center;}

		@include display-flex();

		/*@include align-items(center);*/
		/*@include justify-content(center);*/
		
		#introText {
			width: 90%;
			margin: 0 auto;
			padding-top: 3em;
			transition: .4s ease-in;

			.wrap {
				display: inline-block;
				transition: .4s ease-in;
			}

			h1 {
				color: $light;
				font-size: 2.5em;
				font-weight: $regular;
				line-height: .8em;
				text-shadow:
				/* Simulated effect for Firefox and Opera
				and nice enhancement for WebKit */
				-1px -1px 0 darken($orange, 10),  
				1px -1px 0 darken($orange, 10),
				-1px  1px 0 darken($orange, 10),
				1px  1px 0 darken($orange, 10),
				3px 3px 2px $dark;
				
				margin-bottom: .2em;
				transition: .4s ease-in;

				.kern {
					letter-spacing: -0.2em;
				}
			} //h1

			.tagline {
				color: $orange;
				display: block;
				font-family: $fontFamily2;
				font-weight: $regular;
				@include text-shadow($dark 2px 2px 2px);
				font-size: .4em;
				margin: .3em 0 2em 0;
				transition: .4s ease-in;
			} //tagline

			.next {
				text-align: center;
				color: $light;
				transition: .4s ease-in;
				img {
					max-width: 50px;
					transition: .4s ease-in;
				} //img
			} //next
		} //introtext
		@include breakpoint($small) {
			#introText {
				padding-top: 10em;
				width: 600px;
				h1 {font-size: 4.5em}
				.tagline {font-size: .4em; margin: .3em 0 1em 1em;}
			}		
		}//small
		@include breakpoint($medium) {
			#introText {width: 800px;}
		}
	} //fullheight
} //header