#nav {
	@include clearfix;
	@include background-image( linear-gradient(top, lighten($navBackground, 10), $navBackground));
	width: 100%;
	z-index: 100;

	.navbar {
		@include container;
		.brand {
			@include span(7);
			float: left;
			font-weight: $bold;
			font: $headFont;
			text-align: center;
			margin: 0;
			@include breakpoint($small) {
				@include span(4);
			}
			a {
				background: $orange;
				color: $navForeground;
				text-decoration: none;
				text-align: center;
				display: inline-block;
				font-size: 1.5em;
				padding: 7px 5px 3px 5px;
				position: relative;

				span {
					letter-spacing: -0.2em;
				}

				@include breakpoint(max-width $small) {
					font-size:  1em;
				}
			} //a
			a:before {
			    content: '';
			    position: absolute;
			    border: 23px solid $orange;
			    border-left-color: transparent;
			    border-top-color: transparent;
			    right: 100%;
			    top: 0;
			}
			a:after {
			    content: '';
			    position: absolute;
			    border: 23px solid $orange;
			    border-right-color: transparent;
			    border-bottom-color: transparent;
			    left: 100%;
			    top: 0;
			}

		} //brand

		ul {
			@include breakpoint($small) {
				@include span(8 at 4 of 12);
			}
			@include breakpoint(0 $small) {
				display: none;
			} //breakpoint
			
			li {
				@include breakpoint($small) {
					float: left;
				}
				a {
					color: $navForeground;
					font: $mainFont;
					font-size: 1em;
					display: inline-block;
					@include breakpoint($small) {
						margin: 0 26px;
					}
					padding: 11px 0;
					position: relative;
					text-align: center;
					text-decoration: none;
					width: 100%;
					@include breakpoint($small) {
						width: 102px;
					}
				
					&:hover {
						color: $light;
						font-weight: $bold;
					}
					@include breakpoint($small $medium) {
						padding: 11px 0;
						width: 62px;
						margin: 0 16px;
						span {display: none;
						} //span
					} //breakpoint
					&.active {
						background-color: darken($light, 40);
						color: $light;
						font-weight: $bold;

						@include breakpoint($small) {
							&:before {
							    content: '';
							    position: absolute;
							    border: 23px solid darken($light, 40);
							    border-left-color: transparent;
							    border-top-color: transparent;
							    right: 100%;
							    top: 0;
							}
							&:after {
							    content: '';
							    position: absolute;
							    border: 23px solid darken($light, 40);
							    border-right-color: transparent;
							    border-bottom-color: transparent;
							    left: 100%;
							    top: 0;
							}
						}
					}
				} //a

				@include breakpoint($small $medium) {
					&#tournLink a {width: 104px;}
				} //breakpoint
				
			} //li
		} //ul
		.fa-bars {
			color: $light;
			font-size: 1.5em;
			position: absolute;
			right: 1em;
			top: .5em;
		}
		@include breakpoint($small) {
			.fa-bars {display: none;}
		}
	} //navbar
} //header #nav